*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
::selection {
  background-color: rgb(255, 191, 80);
  color: #fff;
}
html {
  font-size: 75%;
  font-weight: 300;
  font-family: "Lato", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  max-width: 100rem;
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
}
.devider {
  color: rgb(128, 128, 128);
  /* border-bottom: 1px solid rgb(201, 201, 201); */
  position: relative;
  height: 10rem;
  /* text-align: center; */
  font-size: 2rem;
  color: rgb(201, 201, 201);
}

.devider::after {
  content: "OR";
  font-size: 2rem;
  position: absolute;
  color: rgb(201, 201, 201);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-bottom {
  margin-bottom: 2rem;
}

header h3 {
  font-weight: 200 !important;
}

.header-p {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.header-p--s {
  font-size: 1.4rem;
}
main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.plan-container {
  display: flex;
  flex-direction: column;
  border-right: solid rgb(224, 224, 224) 1px;
}

.plan-container > * {
  margin-right: 3rem;
}

.goal-container {
  margin-left: 3rem;
}
.title {
  color: #5711e1;
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.plan__new {
  border-radius: 3px;
}

.plan__old {
  width: 60rem;
  display: flex;
  flex-direction: column;
}
.carousel {
  width: 60rem;
}

form {
  display: flex;
  justify-content: space-between;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 0 !important;
}
#form--plan .input-field {
  margin: 0;
}

/* label focus color */
.input-field input:focus + label,
.input-field .materialize-textarea:focus + label {
  color: #5711e1 !important;
}

/* label underline focus color */
.input-field input:focus,
.input-field .materialize-textarea:focus,
input.valid {
  border-bottom: 1px solid #5711e1 !important;
  box-shadow: 0 1px 0 0 #5711e1 !important;
}

.carousel {
  overflow: visible !important;
}

.carousel .carousel-item {
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan__old {
    width: 100%;
  }
}

.modal {
  max-width: 40rem;
}

.modal-close {
  font-size: 2rem;
}

.modal .input-field {
  width: 100%;
}

.modal button {
  margin: 3.5rem auto;
}

.newlyAdded::after {
  content: "Added!";
  color: #5711e1;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bgcolor {
  background-color: #4100c2;
  color: #fff;
}

input[type="checkbox"] + span {
  padding-left: 24px !important;
}
[type="checkbox"]:not(:checked) + span::before {
  border: 1px solid #5a5a5a !important;
}

.setGoalBtn {
  /* margin-top: 1rem; */
  border-top: none !important;
}

.goal-container {
  min-width: 25rem;
  font-size: 1rem;
}

#isAccomplished {
  color: #fff;
  padding: 1px 3px;
  border-radius: 3px;
}

.goal-date {
  color: #5711e1;
  font-weight: bolder;
}

.goal-planName {
  font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }
}

@keyframes newlyAdded {
  0% {
    left: 0;
  }

  28% {
    left: -5rem;
    background-color: #4100c2;
    color: #fff;
  }

  100% {
    left: 0;
    background-color: #fff;
    color: initial;
  }
}

@keyframes newlyAdded2 {
  0% {
    opacity: 0;
    color: #fff;
    transform: translateX(50%);
  }

  28% {
    background-color: #4100c2;
  }

  60% {
    color: #fff;
  }

  100% {
    opacity: 1;
    color: initial;
    background-color: #fff;
    transform: translateX(0%);
  }
}
