*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
::selection {
  background-color: rgb(255, 191, 80);
  color: #fff;
}
html {
  font-size: 75%;
  font-weight: 300;
  font-family: "Lato", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  max-width: 100rem;
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
}

.m-bottom {
  margin-bottom: 2rem;
}
header h3 {
  font-weight: 200 !important;
}

.header-p {
  font-size: 1.4rem;
}
main {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  justify-content: flex-start;
}
/* main section:not(:last-child) {
  margin-right: 20rem;
} */
.plan-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 10rem; */
  border-right: solid grey 1px;
  /* justify-content: center;
  align-items: flex-start;
  */
}
.plan-container > * {
  margin-right: 3rem;
}

.goal-container {
  margin-left: 3rem;
}
.title {
  color: #5711e1;
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
/* .btn {
  margin: 0 20%;
} */
.plan__new {
  /* width: 30rem; */
  border-radius: 3px;
  /* border: rgb(171, 171, 171) 1px solid; */
}

.plan__old {
  /* border: red 1px solid; */
  width: 60rem;
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.carousel {
  width: 60rem;
}

form {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* border: red 1px solid; */
}

.modal form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 0 !important;
}
.input-field {
  margin: 0;
}

/* label focus color */
.input-field input:focus + label,
.input-field .materialize-textarea:focus + label {
  color: #5711e1 !important;
}

/* label underline focus color */
.input-field input:focus,
.input-field .materialize-textarea:focus,
input.valid {
  border-bottom: 1px solid #5711e1 !important;
  box-shadow: 0 1px 0 0 #5711e1 !important;
}

.carousel {
  overflow: visible !important;
  /* height: 100%; */
}

.carousel .carousel-item {
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan__old {
    width: 100%;
  }
}

.modal {
  max-width: 40rem;
}

.modal-close {
  font-size: 2rem;
}

.modal .input-field {
  width: 100%;
}

.modal button {
  margin: 3.5rem auto;
}

.newlyAdded::after {
  content: "Added!";
  color: #5711e1;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bgcolor {
  background-color: #4100c2;
  color: #fff;
}
@keyframes newlyAdded {
  0% {
    left: 0;
  }

  28% {
    left: -5rem;
    background-color: #4100c2;
    color: #fff;
  }

  100% {
    left: 0;
    background-color: #fff;
    color: initial;
  }
}

@keyframes newlyAdded2 {
  0% {
    opacity: 0;
    color: #fff;
    transform: translateX(50%);
  }

  28% {
    background-color: #4100c2;
  }

  60% {
    color: #fff;
  }

  100% {
    opacity: 1;
    color: initial;
    background-color: #fff;
    transform: translateX(0%);
  }
}

input[type="checkbox"] + span {
  padding-left: 24px !important;
}
[type="checkbox"]:not(:checked) + span::before {
  border: 1px solid #5a5a5a !important;
}

.setGoalBtn {
  /* margin-top: 1rem; */
  border-top: none !important;
}

.goal-container {
  min-width: 25rem;
  font-size: 1rem;
}

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }
}
/* #exercise::before {
  content: "Exercise";
  font-weight: bolder;
  font-size: 1.2rem;
  position: absolute;
  top: -1rem;
} */
.collection {
  /* padding: 2rem; */
  /* width: 30rem; */
}
